
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: white;
    background: none !important;
}
  #hoome{
  margin-left: 35px; 
  padding: 20px;
  padding-top: 60px; 
  box-sizing: border-box;
  background: #ffffff;
  min-height: 100vh;
  }
  .main-content {
    margin-left: 220px;
    padding: 20px;
    width: 100%;
  }
  
  .main-content h1 {
    margin-bottom: 20px;
  }
  
  .table-container {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    padding-top: 100px;
  }
  
  th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f4f4f4;
  }
  .actions button {
    margin-right: 5px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
  }
  .edit-btn {
    background-color: #3498db;
  }
  .delete-btn {
    background-color: #e74c3c;
  }
  .add-btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .adds-btn {
    background-color: #8ce1af;
    color: #333;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: 50px;
  }
.container {
    margin-left: 210px;
    padding: 40px;
    width: 100%;
}
.warp {
    margin-bottom: 25px;
}
.warps-teks {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    padding-top: 10px;
}
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.warps {
    margin-top: 30px;
}
.btn {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #2980b9;
}
h4{
    padding: 20px 0;
}