* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #354F52;
  padding: 5px 70px;
}
.logo{
    color: #EEE6C8;
    font-size: 3.2rem;
    font-weight: bold;
}
.menu_kanan{
    display: flex;
    gap: 38px;
    padding-right: 68px;
}
.menu_kanan a{
    text-decoration: none;
    color: #EEE6C8;
    font-size: 14px;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #3e3d3d;
  color: #0f2f2f;
}
.containerr{
    display: flex;
    min-height: 100vh;
}
.left_side{
    background-color: #CAD2C5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 30px;
}
.left_side img{
    width: 420px;
    border-radius: 20px;
}
.title {
  font-family: 'Georgia', serif;
  font-weight: bold;
  margin: 20px 0;
}
.list {
  list-style: none;
  width: 85%;
}
.list a{
    border-bottom: 1px solid #333;
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #333;
}
.list a span{
    font-weight: bold;
    color: #333;
}
.right_side{
    background-color: #4B6B6B;
    padding: 70px 50px;
    width: 60%;
}
.box_ttl{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: black;
}
.number{
    background-color: #CAD2C5;
    border-radius: 20px;
    padding: 8px;
    width: 27px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.number_text{
    background-color: #CAD2C5;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
}
.imag{
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.imag img{
    width: 300px;
    border-radius: 30px;
}
.text_warp{
    color: white;
    margin: 20px 0;
}
.list_otot{
    padding-left: 20px;
    padding-bottom: 20px;
}
.list_cara{
    padding-left: 20px;
}
.isi_list{
    list-style-type: discnb;
    padding-left: 20px;
}